header {
    padding: 20px;
    margin-bottom: 20px;
    Float: center;
    width: auto;
    color: #777;
    background: #fff;
    border: #ccc;
    text-align: center;
}

.nameNav {
    margin: 0 auto;
}

h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    Float: left;
    width: 33.3%;
    color: #ffffff;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif
  }


Body {
    Margin:0;
    padding: 0;
    text-align: center;
    background: #fff;
}

.contact-title {
    margin-top: 100px;
    color: #4aaaa5;
}
h1 {
    font-size: 32px;
    line-height: 10px;
}

form {
    margin-top: 50px;
}

.form-control {
    width: 600 px;
    background: transparent;
    outline: black;
    color: #777;
    margin-bottom: 16px;
}

.submit {
    color: #fff;
    background: #4aaaa5;
}